*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 30px;
    background: linear-gradient(#050505, #18181d);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

/*Scroll-Bar*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: linear-gradient(#050505, #18181d);
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

/*Music Player*/
.player{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    scale: 1;
    margin-left: 900px;
}

.wrapper{
    border: 2px solid #fff;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    background: rgba(0, 0, 0, 0.588);
    background-image: url(Bleach_assets/IDWEE.jpg);
    background-size: cover;
    background-position: center;
}

.mask{
    width: 118.2%;
    height: 111%;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    margin-top: -30px;
    margin-left: -30px;
}

.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.track-art{
    margin: 25px;
    height: 250px;
    width: 260px;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}

.now-playing{
    font-size: 1.5rem;
    color: #fff;
    margin-top: 25px;
}

.track-name{
    font-size: 2.5rem;
    color: #fff;
}

.track-artist{
    margin-top: 5px;
    font-size: 1.5rem;
    color: #fff;
}

.player .wrapper .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    scale: .95;
    margin-left: 36px;
}

.active{
    color: #000;
}

.repeat-track,
.next-track,
.playpause-track,
.prev-track,
.random-track{
    padding: 20px;
    color: #fff;
}

.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.seek-slider,
.volume-slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: #fff;
    border-radius: 25px;
}

.seek-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 2px solid #fff;
    cursor: grab;  
    scale: .75;
}

.seek-slider:hover,
.volume-slider:hover{
    opacity: 1;
}

.seek-slider{
    width: 60%;
}

.volume-slider{
    width: 30%;
}

.current-time,
.total-duration{
    padding: 10px;
    color: #fff;
}

.fa-volume-down,
.fa-volume-up{
    padding: 10px;
    color: #fff;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
    cursor: pointer;
    color: #fff;
}

.randomActive{
    color: #fff;
}

.loader{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .stroke{
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite;
}

@keyframes animate{
    50%{
        height: 20%;
        background-color: #fff;
    }
    100%{
        height: 100%;
        background: #fff;
    }
}

.stroke:nth-child(1){
    animation-delay: 0s;
}
.stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(1){
    animation-delay: 0;
}

.content{
    position: absolute;
    left: 10%;
    top: 15%;
    width: 800px;
    max-width: 80%;
    z-index: 1;
    color: #fff;
}
.content p{
    font-size: 16px;
    line-height: 45px;
}
.content .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.content button{
    border: none;
    background-color: #eee;
    letter-spacing: 2px;
    font-family: poppins;
    font-weight: 800;
}
.content button a{
    color: #5f5d5d;
    text-decoration: none;
    text-transform: uppercase;
}
.content button:nth-child(2){
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
}
.content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.content h2{
    font-size: 60px;
    margin: 0;
}
.content h2:hover{
    color: #5f5d5d;
}
.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.player,
.content h2,
.content button{
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
    transition: all 0.8s ease;
}
.content p:nth-child(1),
.content p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .7s .9s ease-in-out 1 forwards;
    transition: all 0.8s ease;
}

.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 25px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
    margin-bottom: -350px;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item:hover{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    font-size: 12px;
    position: absolute;
    inset: auto 10px 10px 10px;
}
.thumbnail{
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .9s 1s ease-in-out 1 forwards;
    transition: all 0.8s ease;
}